# ==========================================
# Dependencies
# ==========================================
node_modules
**/node_modules

# ==========================================
# Bun
# ==========================================
bun.lock

# ==========================================
# Environment
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Build Output
# ==========================================
dist
**/dist
out
coverage

# ==========================================
# Cache
# ==========================================
.cache
.eslintcache
*.tsbuildinfo

# ==========================================
# Logs
# ==========================================
logs
*.log

# ==========================================
# IDE
# ==========================================
.vscode
.idea

# ==========================================
# macOS
# ==========================================
.DS_Store
._*